/* Horizontal Carousel */
#horizontal_carousel {
  float: left;
  width: 975px;
  height: 235px;
  position: relative;
}

#horizontal_carousel .container {
  float: left;
  width: 900px;
  height: 235px;
  position: relative;    
  overflow: hidden;
}

#horizontal_carousel ul {
  margin: 0;
  padding:0;
  width: 100000px;
  position: relative;
  top: 0;
  left: 0;
  height: 235px;
}                      

#horizontal_carousel ul li {
  width: 125px;
  height: 235px;
  text-align: center; 
  list-style:none;   
  float:left;
}

#horizontal_carousel .previous_button {
  float:left;  
  width: 35px;
  height: 175px;
  background: url(/images/left-big.png);
  z-index: 100;
  cursor: pointer;
}

#horizontal_carousel .previous_button_over {
  background: url(/images/left-big-over.png);
}

#horizontal_carousel .previous_button_disabled {
  background: url(/images/left-disabled.png);
  cursor: default;
}

#horizontal_carousel .next_button {
  float:left;  
  width: 35px;
  height: 175px;
  background: url(/images/right-big.png);
  z-index: 100;
  cursor: pointer;
}

#horizontal_carousel .next_button_over {
  background: url(/images/right-big-over.png);
}

#horizontal_carousel .next_button_disabled {
  background: url(/images/right-disabled.png);
  cursor: default;
}

/* small carousel begins here 

.horizontal_carousel_small {
  float: left;
  width: 860px;
  height: 125px;
  position: relative;
}

.horizontal_carousel_small .container {
  float: left;
  width: 795px;
  height: 125px;
  position: relative;    
  overflow: hidden;
}

.horizontal_carousel_small ul {
  margin: 0;
  padding:0;
  width: 100000px;
  position: relative;
  top: 0;
  left: 0;
  height: 160px;
}                      

.horizontal_carousel_small ul li {
  width: 60px;
  height: 125px;
  text-align: center; 
  list-style:none;   
  float:left;
}

.horizontal_carousel_small .previous_button {
  float:left;  
  width: 25px;
  height: 90px;
  background: url(/images/left.png);
  z-index: 100;
  cursor: pointer;
}

.horizontal_carousel_small .previous_button_over {
  background: url(/images/left-over.png);
}

.horizontal_carousel_small .previous_button_disabled {
  background: url(/images/left-disabled.png);
  cursor: default;
}

.horizontal_carousel_small .next_button {
  float:left;  
  width: 25px;
  height: 90px;
  background: url(/images/right.png);
  z-index: 100;
  cursor: pointer;
}

.horizontal_carousel_small .next_button_over {
  background: url(/images/right-over.png);
}

.horizontal_carousel_small .next_button_disabled {
  background: url(/images/right-disabled.png);
  cursor: default;
}
*/



/* vertical Carousel 

.ui_vertical_carousel {
}

#vertical_carousel {
  float:left;
  width: 350px;
  height: 270px;
  margin-bottom: 10px;
  position: relative;
}

#vertical_carousel .container {
  float:left;  
  width: 260px;
  height: 240px;
  overflow: hidden;
}

#vertical_carousel ul {
  margin: 0;
  padding:0;
  height: 100000px;
  position: relative;
  top: 0;
  left: 0;
}

#vertical_carousel ul li {
  width: 260px;
  height: 240px;
  text-align: center;      
  list-style:none;   
  float:left;
}                         

#vertical_carousel .previous_button {
  float:left;
  height: 32px;
  width: 175px;
  background: url(prototype-ui/vertical/left.png);
  cursor: pointer;    
  display:inline;
  margin: 0 0 10px 40px;
}

#vertical_carousel .previous_button_over {
  background: url(prototype-ui/vertical/left_over.png);
}

#vertical_carousel .previous_button_disabled {
  background: url(prototype-ui/vertical/left_disabled.png);
  cursor: default;
}

#vertical_carousel .next_button {
  float:left;
  height: 32px;
  width: 175px;
  background: url(prototype-ui/vertical/right.png);
  display:inline;
  margin-left: 40px;
  cursor: pointer;
}

#vertical_carousel .next_button_over {
  background: url(prototype-ui/vertical/right_over.png);
}

#vertical_carousel .next_button_disabled {
  background: url(prototype-ui/vertical/right_disabled.png);
  cursor: default;
}

*/