/* @override 
	http://localhost:3000/stylesheets/timesarrow.css?1267637730
	http://localhost:3000/stylesheets/timesarrow.css?1267638131
	http://localhost:3000/stylesheets/timesarrow.css?1267638422
	http://localhost:3000/stylesheets/timesarrow.css?1267643596
	http://localhost:3000/stylesheets/timesarrow.css?1267649663
	http://localhost:3000/stylesheets/timesarrow.css?1267651358
	http://localhost:3000/stylesheets/timesarrow.css?1267652513
	http://localhost:3000/stylesheets/timesarrow.css?1267660282
	http://localhost:3000/stylesheets/timesarrow.css?1267664475
*/

/*

grey DARK: #676767

grey LIGHT: #848484

yellow: #cc9900

yellow background: #f6cc5c

red: #9c3946

red brown: #724343

*/


div.pagination {
	float: right;
	margin-right: 18px;
	margin-top: 4px;
	position: relative;
	font: 80% "Lucida Grande", Lucida, Verdana, sans-serif;
}

body 
{ 
	background-color: #fff; 
	margin: 0;
	padding: 0;
	
}

body, p, ol, ul, td {
  font-family: Century Gothic, arial, helvetica, sans-serif;
	font-size: medium;
}

div#doc
{
	width: 900px;
	height: inherit;
}

/**/
#doc, #header
{
	margin:auto;
	min-width:750px;
	text-align:left;
}

div#content
{
	float: left;
	position: relative;
	width: 96.75%;
	height: inherit;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

#timelinestable
{
	width: 100%;
}

div#header
{
	width: 100%;
	background-image: url(/images/1ccTimesArrowBanner.jpg);
	height: 95px;
}

div#header a img
{
	margin-left: 10px;
}


/* navbar */

#navigation
{
	position:relative;
	background-color: #848484;
	width: 100%;
	height: 20px;
}

ul#navbar
{
	background-color: #848484;
	color: #fff;
	list-style-type: none;
	margin: 0;
	padding: 0em 0em 0em 0em;
	font-size: 75%;
	
}

ul#navbar a
{
	color: #fff;
	font-weight: normal;
}

ul#navbar a:hover
{
	color: #cc9900;
	border-bottom: none;
	font-weight: normal;;
}

ul#navbar li
{
	float: left;
	white-space: nowrap;
	padding: .2em 1em 0em 18px;
	color: #724343;
	font-weight: bold;
}

ul#navbar li:hover ul.level2 
{ 
	display: block 
}


ul.level2 li {
	background-color: #848484;
	list-style-type: none;
	position: relative;
	margin-left: -40px;
	padding-bottom: 5px;
	float: left;
	font-size: 75%;
	display: block;
	width: 110px;
	overflow: auto;
}

#navbar li ul.level2 a {
	background-color: #848484;
	color: #d4d4d4;
	padding: 0;
	margin: 0;
}

#navbar li ul.level2 a:hover {
	background-color: #848484;
	color: #cc9900;
	padding: 0;
	margin: 0;
}

ul.level2 {
	position: absolute;
	top: 20px;
	display: block;
	float: left;
	width: 90px;
	z-index: 5;
	visibility: hidden;
}


ul#user_nav
{
	background-color: #848484;
	color: #fff;
	list-style-type: none;
	margin: 0em;
	margin-right: .5em;
	padding: 0em;
	font-size: 75%;
	float: right;
}

ul#user_nav a
{
	color: #fff;
}

ul#user_nav a:hover
{
	color: #cc9900;
	border-bottom: none;
}

ul#user_nav li
{
	float: left;
	padding: .2em 1em 0em .75em;
	white-space: nowrap;
}

#footer {
	position: relative;
	float: left;
	background-color: #848484;
	width: 100%;
	height: 20px;
}

#footer ul
{
	background-color: #848484;
	color: #fff;
	list-style-type: none;
	margin: 0;
	padding: 0em 0em 0em 0em;
	font-size: 75%;
}

#footer ul li
{
	float: left;
	white-space: nowrap;
	padding: .2em 1em 0em 18px;
}

#footer ul li a
{
	color: white;
}

#footer ul li a:hover
{
	color: #cc9900;
	border-bottom: none;
}

ul#about 
{
	float: right;	
}

h1
{
	font-size: 100%;
	width: 80%;
	text-transform: uppercase;
}

#timeline-tables {
	margin-top: 5px;
	margin-left: -3px;
}

a 
{ 
	color: #676767; 
	border-bottom: none;
  	text-decoration: none;
}





a:visited 
{ 
	color: #676767; 
}

a:hover 
{ 
	color: #cc9900;
	border-bottom: none;
}

a img 
{
  border-style: none;
	border-width: 0px;
}

div#search
{
	position:absolute;
	left: 40px;
	top: 800px;
	margin: .5em;
	padding: .5em;
	width: 800px;
	/*visibility: hidden;*/
}

div.container 
{
	font-size: 75%;
	padding-bottom: 10px;
	padding-left: 2px;
	padding-right: 4px;
}

div.container a
{
	color: #676767;
}

div.container a:hover 
{ 
	color: #cc9900;
	border-bottom: none;
}

.tldesc
{
	padding: 0em 0em 0.5em 2.5em;
	color: #9DCAFF; 
	font-size: 90%;
	width: 900px;
}

.tlposdesc
{
	color: #38577A; 
}

.sctd
{
	width: 100px;
}

.tdwrap a
{
	overflow: auto;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

div.tlinfo
{
	padding: 0em 0em 2em 2em;
}



.buy a
{
	color: #f6cc5c;
}

div#searchedit
{
	position: relative;
	float: left;
	width: 100%;
	/*visibility: hidden;*/
	background-color: #848484;
}

div#resort {
	position: relative;
	float: left;
	font-size: 70%;
}

div#searchedit p
{
	color: #fff;
	margin: 10px;
}

div.edit-timeline
{
	color: #848484;
	font-size: 90%;
}

.move
{
	cursor: move;
}

div.timelineitem-name {
	/* added this padding so that mouseover and mouseout events would trigger consistently */
	padding: .5em;
	font-size: 75%;
}


li.timeline_item
{
	float: left;
	font-size: 75%;
	/*padding: .25em;
	white-space: nowrap;*/
}

.timelineitem-image
{
	height: 80px;
}


/* small carousel begins here */

.horizontal_carousel_small {
  float: left;
  width: 855px;
  height: 100px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: white;
}

.horizontal_carousel_small .container {
  float: left;
  width: 775px;
  height: 100px;
  position: relative;    
  overflow: hidden;
}

.horizontal_carousel_small ul {
  margin: 0;
  padding:0;
  width: 100000px;
  position: relative;
  top: 0;
  left: 0;
  height: 100px;
}                      

.horizontal_carousel_small ul li {
  width: 60px;
  height: 125px;
  text-align: center; 
  list-style:none;   
  float:left;
}

.horizontal_carousel_small .previous_button {
  float:left;  
  width: 25px;
  height: 90px;
  background: url(/images/left.png);
  z-index: 100;
  cursor: pointer;
  margin-right: 2px;
}

.horizontal_carousel_small .previous_button_over {
  background: url(/images/left-over.png);
}

.horizontal_carousel_small .previous_button_disabled {
  background: url(/images/disabled.png);
  cursor: default;
}

.horizontal_carousel_small .next_button {
  float:left;  
  width: 25px;
  height: 90px;
  background: url(/images/right.png);
  z-index: 100;
  cursor: pointer;
}

.horizontal_carousel_small .next_button_over {
  background: url(/images/right-over.png);
}

.horizontal_carousel_small .next_button_disabled {
  background: url(/images/disabled.png);
  cursor: default;
}


/* edit */

.horizontal_carousel_small_edit {
  float: left;
  width: 835px;
  height: 170px;
  position: relative;
}

.horizontal_carousel_small_edit .container {
  float: left;
  width: 775px;
  height: 160px;
  position: relative;    
  overflow: hidden;
}

.horizontal_carousel_small_edit ul {
  margin: 0;
  padding:0;
  width: 100000px;
  position: relative;
  top: 0;
  left: 0;
  height: 180px;
}                      

.horizontal_carousel_small_edit ul li {
  width: 60px;
  height: 180px;
  text-align: center; 
  list-style:none;   
  float:left;
}

.horizontal_carousel_small_edit .previous_button {
  float:left;  
  width: 25px;
  height: 90px;
  background: url(/images/left.png);
  z-index: 100;
  cursor: pointer;
}

.horizontal_carousel_small_edit .previous_button_over {
  background: url(/images/left-over.png);
}

.horizontal_carousel_small_edit .previous_button_disabled {
  background: url(/images/disabled.png);
  cursor: default;
}

.horizontal_carousel_small_edit .next_button {
  float:left;  
  width: 25px;
  height: 90px;
  background: url(/images/right.png);
  z-index: 100;
  cursor: pointer;
}

.horizontal_carousel_small_edit .next_button_over {
  background: url(/images/right-over.png);
}

.horizontal_carousel_small_edit .next_button_disabled {
  background: url(/images/disabled.png);
  cursor: default;
}

#item_work_it
{
	margin-top: 25px;
	position: relative;
	float: left;
	width: 98.3%;
	height: inherit;
}

#item_work_it a img
{
	float: left;
	width: 225px;
}

#book-cover
{
	float: left;
	width: 225px;
	border: 1px solid gray;
}



#buy-box
{
	background-color: #f6cc5c;
	height: 30px;
	position: relative;
	float: left;
	margin-top: 15px;
	margin-left: -75px;
	width: 225px;
	padding-top: 16px;
	padding-left: 12px;
	border: 1px solid gray;
}

#top-parent
{
	height: 90px;
}
.top-arrow
{
	margin-left: 0px;
	position: relative;
	float: left;
	margin-top: 75px;
}

#info-box
{
	background-color: #f6cc5c;
	position: relative;
	float: left;
	padding: 0.5em;
	margin-left: 25px;
	margin-top: -12px;
	width: 330px;
	border: 1px solid gray;
	height: auto;
	max-height: 450px;
	overflow: auto;
}

#middle-parent
{
	position: absolute;
	left: 230px;
}

.middle-arrow
{
	position: relative;
	float: left;
	margin-top: 90px;
	margin-left: 5px;
}

#rate-box
{
	background-color: #f6cc5c;
	margin-left: -15px;
	margin-top: 5px;
	padding: 0.5em;
	width: 225px;
	position: relative;
	float: left;
	border: 1px solid gray;
}

#bottom-parent
{
	position: absolute;
	top: 250px;
	left: 255px;
	width: 200px;
}

.bottom-arrow
{
	position: relative;
	float: left;
	margin-right: 300px;
	margin-left: -20px;
}

#work-it-container
{
	width: 100%;
	font-size: 75%;
	min-height: 525px;
}

#work-it-container p
{
	font-size: 100%;
}

#followme
{
	float: right;
	margin-top: 60px;
	margin-right: 10px;
}

#status
{
	position: relative;
	margin-top: 5px;
}

#review
{
	position: relative;
	margin-top: 5px;
}

#star-ratings-block
{
	position: relative;
}

#errorExplanation {
	margin-top: 10px;
  	border: 2px solid #724343;
  	padding: 7px;
 	background-color: #848484;
}

#errorExplanation h2 {
  	text-align: left;
  	font-weight: bold;
  	padding: 5px 5px 5px 15px;
  	font-size: 14px;
  	margin: -7px;
  	background-color: #724343;
  	color: #fff;
}

#errorExplanation p {
  	color: #333;
  	margin-bottom: 0;
	padding-left: 7px;
  	font-size: 12px;
}

#errorExplanation li {
  font-weight: bold;
  font-size: 12px;
}

#forgot-pw
{
	margin-left: 5px;
	font-size: 12px;
}

.item-title
{
	font-weight: bold;
}

#other-timelines
{
	float: left;
	position: relative;
	width: 100%;
	margin-top: 15px;
}

#reviews
{
	float: left;
	position: relative;
	width: 100%;
	margin-top: 15px;
}

#other-timelines ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#other-timelines li
{
  font-size: 12px;
}

#rate {
	font-weight: bold;
	height: 25px;
}

#rate-header
{
	padding-top: 5px;
	float: left;
}

#tl-name
{
	float: left;
	margin-bottom: 5px;
	height: 30px;
	width: 100%;
}

#tl-desc
{
	float: left;
	position: relative;
	margin-top: 5px;
	margin-bottom: 15px;
	width: 100%;
	font-size: 75%;
}

#avg-rating
{
	float: left;
	position: relative;
	width: 100%;
}
.num-ratings
{
	margin-top: 4px;
	padding-left: 25px;
}

#review textarea
{
	width: 96%;
	margin:5px 0;
	padding:1%;
	height: 200px;
}

#finalists
{
	position: relative;
	float: left;
	margin-left: 55px;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #676767;
	font-size: 75%;
	width: 720px;
}

#finalists ul {
  margin: 0;
  padding:0;
  position: relative;
  float: left;
}                      

#finalists ul li {
  width: 60px;
  text-align: center; 
  list-style:none;   
  float:left;
  font-size: 75%;
}

.finalists-header
{
	float: left;
	position: relative;
	margin-top: 1px;
	margin-right: 8px;
	margin-left: 7px;
	top: 0px;
	color: #724343;
	text-align: center;
}


div.sf
{
	font-size: 50%;
	color: gray;
}

div#tl-name h1 a
{
	font-weight: normal;
	font-style: normal;
}

div#edit-sub {
	position: relative;
	margin-top: -20px;
	margin-left: 150px;
	font-weight: normal;
	
}

div.destroy-inline {
	margin-top: -38px;
	margin-left: 490px;
}

div.container img
{
	width: 50px;
	height: 75px;
}

#privacy
{
	height: 600px;
}

div#facebook-fan
{
	position: relative;
	margin-left: 800px;
	margin-right: 12px;
	margin-top: -40px;
	z-index: 1;
	font-size: 50%;
}

div#facebook-fan-text {
	position: relative;
	margin-left: 45px;
	margin-top: -28px;
}

#facebook-fan a:hover
{
	color: #724343;
}

#twitter-follow a:hover {
	color: #724343;
}

div#twitter-follow
{
	position: relative;
	margin-left: 800px;
	margin-right: 12px;
	margin-top: -65px;
	z-index: 1;
	font-size: 50%;
}

div#twitter-follow-text {
	position: relative;
	margin-left: 45px;
	margin-top: -28px;
}

div#share {
	position: relative;
	float: right;
	font-size: 75%;
	margin-top: -30px;
	width: 285px;
	height: 25px;
}

div#twitter-share {
	position: absolute;
	margin-top: -17px;
	margin-left: 185px;
}

div#add-this-share {
	position: relative;
	float: left;
	margin-top: -17px;
	margin-left: 270px;
}

div#facebook-share {
	margin-top: 1px;
	margin-left: 80px;
}

div#ad {
	padding: 120px 50px 10px;
	position: relative;
	float: left;
}

p#error {
	color: white;
	background: #724343;
	margin-top: 0px;
	text-align: center;
	text-transform: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

p#notice {
	color: white;
	background: #724343;
	margin-top: 0px;
	text-align: center;
	text-transform: none;
	padding-top: 3px;
	padding-bottom: 3px;
}