/* 
sun light blue
#9DCAFF
sun medium blue
#4E78A1
sun base blue
#38577A
sun dark blue
#202230
sun yellow
#F7C639
*/

body 
{ 
	background-color: #202230; 
	color: #fff; 
	
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: small;
}

h1
{
	font-size: 110%;
}


table
{
	border: 0px solid #9DCAFF;
	border-collapse: collapse;
}

td { border: 0px solid #4E78A1; }

th 
{ 
	border: 0px solid #4E78A1; 
	font-size: 110%;
}


a 
{ 
	color: #fff; 
	border-bottom: none;
  text-decoration: none;
}

a:visited 
{ 
	color: #fff; 
}

a:hover 
{ 
	color: #fff;
	border-bottom: 1px solid #fff;
}

a img 
{
  border-style: none;
	border-width: 0px;
}


ul#dtimeline
{
	list-style: none;
}

ul#dtimeline li
{
	float: left;
	background-color: #202230;
	cursor: move;
	white-space: nowrap;	
}

li 
{
	float: left;
	padding: .25em;
	background-color: #202230;
	white-space: nowrap;
}

div#search
{
	position:absolute;
	left: 40px;
	top: 800px;
	margin: .5em;
	padding: .5em;
	width: 800px;
	/*visibility: hidden;*/
}

div.container 
{
	background-color: #202230;
	font-size: 75%;
}

div.container a, p
{
	font-size: 75%;
}

.posdesc
{
	font-size: 75%;
}

.tldesc
{
	padding: 0em 0em 0.5em 2.5em;
	color: #9DCAFF; 
	font-size: 90%;
	width: 900px;
}

.tlposdesc
{
	color: #38577A; 
}

.sctd
{
	width: 100px;
}

.tdwrap a
{
	overflow: auto;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

div.tlinfo
{
	padding: 0em 0em 0.5em 3.75em;
}
