<div id="ad">
<iframe src="http://rcm.amazon.com/e/cm?t=timesarrow-20&o=1&p=48&l=ur1&category=books&banner=19YH3N7RRQ6621WZ60G2&f=ifr" 
        width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"
        align="center" class="ad"></iframe>
</div>