<p>Enter keywords to search amazon.com:</p>
<%= text_field_tag(:keywords, '', :size => 50) %>
<%= button_to_remote "Search", :update => "search-results", 
    :url => { :controller => "search", 
              :action => "search", 
              :timelineid => @timeline.id, 
              :category => @timeline.category },
    :with => "'keywords='+$F('keywords')"
%>
<p></p>
<div id="search-results">
  
</div>
