<div id="share">
  <!-- facebook -->
  <div id="facebook-share">
    <a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Share</a>
  </div>
  <!-- twitter -->
  <div id="twitter-share">
    <script type="text/javascript">
      tweetmeme_style = 'compact';
      tweetmeme_source = 'timesarrow';
    </script>
    <script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
  </div>
  <!-- AddThis Button BEGIN -->
  <div id="add-this-share">
    <div class="addthis_toolbox addthis_default_style">
      <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
      <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=kristenhazard" class="addthis_button_compact"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=kristenhazard"></script>
  </div>
  <!-- AddThis Button END -->
</div>