<div id="privacy">
<p>
  The arrow of time. Interesting concept. Does it really exist? Or, is there a wheel of time? 
  How about all things happening at once?  These are the things I was thinking about when 
  I named my new site TIME'S ARROW. In this case, I liked grouping things on an arrow of time, a timeline. 
  Things like book awards are interesting to look at in a timeline. The book award that got me 
  interested in thinking about timelines was the <a href="http://times-arrow.com/timelines/1">
  Pulitzer Prize Winner for Fiction</a>. 
</p>
<p><a href="http://times-arrow.com/timelines/1"><img src="/images/pp.png"></a></p>
<p>
  I wondered, how many of these books have I read?  What are the major themes in the books as a group? 
  How did the themes change as time scooted along?  What do they say about America?  Which Author has 
  won it the most?  Which books were my favorite? I'd probably have to say it was 
  <a href="http://times-arrow.com/timelines/1?item_id=8">
    The Brief &amp; Wondrous Life of Oscar Wao
  </a>.
 Close seconds: <a href="http://times-arrow.com/timelines/1?item_id=7">Middlesex</a>, 
  <a href="http://times-arrow.com/timelines/1?item_id=21">The Amazing Adventures of Kavalier &amp; Clay</a>, 
  <a href="http://times-arrow.com/timelines/1?item_id=54">The Hours</a>, 
  <a href="http://times-arrow.com/timelines/1?item_id=138">The Killer Angels</a>, 
  <a href="http://times-arrow.com/timelines/1?item_id=140">Angle of Repose</a>. 
  Then I added <a href="http://times-arrow.com/timelines/book/awards/fiction">all the major english 
  speaking book awards for fiction</a>. Oooh a bigger data set!  I wonder which books won multiple awards? 
  I like seeing the covers line up when that book won multiple awards that year.</p>
<p>TIME'S ARROW was conceived, designed and coded by <a href="http://hazardbio.com">Kristen Hazard</a>. Long live Ruby on Rails!  She loves 
  books and quantum physics. This is why she likes to create things with names like TIME'S ARROW and Suntoucher!  
  She also has her very own reading room: 
  <a href="http://times-arrow.com/timelines?search=kristen%27s+science+reading+room">Kristen's Science 
    Reading Room!</a></p>
<p><a href="http://twitter.com/timesarrow">Follow TIME'S ARROW</a></p>
<p>Check out Suntoucher Software at <a href="http://suntouchersoftware.com">http://suntouchersoftware.com</a></p>
</div>