
<div id="privacy">
  <h1>Our Privacy Policy</h1>
  <p>
    Any personal information that you may share with TIME’S ARROW is kept absolutely private. 
    Neither your name nor anything about you is sold or shared with any other company or agency. 
    Occasionally, we may contact you to make you aware of new features on the site. 
    However, we do respect your right to privacy and will not send notices if you 
    <a href="mailto:kristen@suntouchersoftware.com">contact us</a> and ask us not to.
  </p>
</div>
