<h1><%=h @contenttitle.upcase %></h1>
<% if @contenttitle == 'Book tob' %>
  <p>Tournament of Books is AWESOME!</p>
<% end %>
<table id="timeline-tables">
<% @timelines.each do |timeline| %>
  <tr>
    <td>
      <%= link_to timeline.name.upcase, timeline %>
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'carousel_small', :locals => { :timeline => timeline } %>
    </td>
  </tr>
<% end %>
</table>
<!-- carousel -->
<% @timelines.each do |timeline| %>
  <script>
    new UI.Carousel("horizontal_carousel_small_"+ <%= timeline.id %>);
  </script>
<% end %>