<h1><%=h @contenttitle.upcase %></h1>
<div id="share">
<a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Share</a>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
  <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
  <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=kristenhazard" class="addthis_button_compact">share</a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=kristenhazard"></script>
<!-- AddThis Button END -->
</div>
<% if @contenttitle == 'Book tob' %>
  <p>Tournament of Books is AWESOME!</p>
<% end %>
<table id="timeline-tables">
<% @timelines.each do |timeline| %>
  <tr>
    <td>
      <%= link_to timeline.name.upcase, timeline %>
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'carousel_small', :locals => { :timeline => timeline } %>
    </td>
  </tr>
<% end %>
</table>
<!-- carousel -->
<% @timelines.each do |timeline| %>
  <script>
    new UI.Carousel("horizontal_carousel_small_"+ <%= timeline.id %>);
  </script>
<% end %>